/* Wrapper (main) */

#wrapper {
  #navbar + & {
    // margin-left: _size(sidebar-width);

    @include breakpoint('>small') {
      margin-left: 0;
      padding-top: _size(sidebar-height);
    }

    @include breakpoint('<=small') {
      padding-top: 0;
    }
  }

  #navbar + & {
    > .wrapper {
      > .inner {
        margin: 0 auto;
      }
    }
  }
}